<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="LoggingConnection"
            connectionString="Data Source=.;Initial Catalog=blog_demo;Persist Security Info=True;User ID=sa;Password=Password123"
            providerName="System.Data.SqlClient" />

    </connectionStrings>
</configuration>